// --------------------------------
// Kings Template: CSS > Navigation
// --------------------------------


// iOS fix of VH unit
html, body {
    width: -webkit-calc(100% - 0px);
}

html.nav-open {
	overflow: hidden;
}


// --------------------------------
// #Navigation Overlay
// --------------------------------


// Navigation Body
// ------------------------------


.navigation-body {
	z-index: -1000;
	outline: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease;
	-moz-transition: opacity 0.8s ease;
	-o-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
}

// When nav is open
.widget__extendednavigation.open .navigation-body {
	display: block;
	z-index: 10010;
	opacity: 1;
	width: auto;
	overflow: auto;
	position: fixed;
	right:0;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	opacity: 1;

	@media @mobile {
		padding-bottom: 45px;
	}
}

// Widget Overlay
.widget__extendednavigation {
	+ .widget-overlay {
		display: none;
	}

	&.open + .widget-overlay {
		position: fixed!important;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    z-index: 10400!important;
	    display: block;
	    max-width: 500px;
    	margin: 13% auto;

    	@media @mobile {
    		width: 90%;
    	}

    	&:hover {
    		background: rgba(0, 147, 135, 0.2);
    		border: 1px solid rgb(0, 148, 136);
    		box-shadow: rgba(0, 147, 135, 0.2) 0px 0px 0px 3px inset;
    	}
	}
}


// Open navigation page overlay
.widget__extendednavigation {
	&:after {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		height: 0;
		z-index: 10009;
	}

	&.open:after {
		height: auto;
		max-width: @value__container--width;
		margin: 0 auto;
		background-color: @color__h1--text;
		opacity: 1;
	}
}








// ------------------------------
// #Navigation Toggle
// ------------------------------

.navigation-toggle {
	.animation;
	// Displays as icon's middle bar
	background-color: @color__feature-headline--text;
	background-clip: content-box;
	width: 42px;
	height: 47px;
	margin-left: auto;
	padding: 22px 10px;
	position: relative;
	text-indent: 200%;
	display: block;
	overflow: hidden;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;

	@media @mobile {
		top: 1px;
		right: 0;
		padding: 21px 10px;
		height: 44px;
	}

	&:hover {
		opacity: .6;
	}

	// Top and bottom navigation item bar
	&:after, &:before {
		content: "";
		height: 3px;
		width: 27px;
		position: absolute;
		left: 5px;
		display: block;
		background: @color__feature-headline--text;
		margin-right: 0;
		margin-left: 0;

		@media @mobile {
			height: 2px;
		}
	}

	// Top bar
	&:before {
		top: 13px;
	}

	// Bottom bar
	&:after {
		bottom: 13px;
	}


	// Toggle Button open state
	// ------------------------------

	.open & {
		position: relative;
		z-index: 100000;
		background-color: fade(@color-swatch7, 0%);

		&:before {
			top: 23px;
			background: @color__navigation--text;
			-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);
			-o-transform: rotate(45deg); -ms-transform: rotate(45deg);
			transform: rotate(45deg);

			@media @mobile {
				top: 21px;
			}

		}
		&:after {
			bottom: 21px;
			background: @color__navigation--text;
			-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}
