{% extends "layout.twig" %}

{% block content %}

<div class="blogpage">

    <section class="page  page--default">
    
    
        {% include "includes/header.twig" %}
    
        <div class="page-title-background">

        <div class="row  row--col-half page-title-container">
            <div class="col  col--half">
                {{widget('pagetitle', 'title', {})|raw}}
            </div>
            <div class="col  col--half">
                {{widget('blogsearch', 'blogsearch', {})|raw}}
            </div>
        </div>

        </div>
    
    
        <!-- Zone Content -->
        <div class="main-content">
            <div class="page-container">
    
            <div class="blogpostlistpage">
    
                {{zone('main')|raw}}
    
            </div>
    
            </div>
        </div>
    
    </section>

</div>

{% include "includes/footer.twig" %}

{% endblock %}

