{% extends "layout.twig" %}

{% block content %}

<section class="page  page--default">


    {% include "includes/header.twig" %}


    <div class="page-title">
        {{widget('pagetitle', 'page-title', {})|raw}}
    </div>


    <!-- Zone Content -->
    <div class="main-content">
        <div class="container">

            {{widget('responsiveslideshow', 'slideshow', {
                'duration':'4',
                'transSpeed': '1000',
                'transType': 'fade',
                'showButtons': true,
                'showBullets': true,
                'allowPause': false,
                'allowLoop': true,
                'crop': true,
                'images':[
                    {
                        'imageHeight':'auto',
                        'imageWidth':'100%',
                        'url':asset('images/slideshow/slideshow-image--1.jpg'),
                        'title':'Kings Template',
                        'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'
                    },
                    {
                        'imageHeight':'auto',
                        'imageWidth':'100%',
                        'url':asset('images/slideshow/slideshow-image--2.jpg')
                    },
                    {
                        'imageHeight':'auto',
                        'imageWidth':'100%',
                        'url':asset('images/slideshow/slideshow-image--3.jpg')
                    },
                ]
            })|raw}}

            {{zone('main')|raw}}

        </div>
    </div>


</section>

{% endblock %}
