<!-- Footer -->
<footer class="template-footer">
	<div class="page-container">
		{{widget('profile', 'copyrightfooter', {
        'profileType':'copyright',
        'copyright':'profile',
        'refreshtime':'1800000'
        })|raw}}
	</div>
</footer>
