<!-- Header -->
<header class="template-header">
	<div class="container">
		<div class="flex-item">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo-black.png')})|raw}}
		</div>
		<div class="flex-item">
				{{widget('profile', 'header-profile1', { 'profileType':'socialicons' })|raw}}
			<div class="template-navigation">
				<div class="flex-item-2">
					{{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
				</div>
			</div>
		</div>
	</div>
</header>
